In [4]:
pip install altair

Collecting altair
  Obtaining dependency information for altair from https://files.pythonhosted.org/packages/17/16/b12fca347ff9d062e3c44ad9641d2ec50364570a059f3078ada3a5119d7a/altair-5.1.2-py3-none-any.whl.metadata
  Downloading altair-5.1.2-py3-none-any.whl.metadata (8.6 kB)
Requirement already satisfied: jinja2 in d:\anaconda\lib\site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in d:\anaconda\lib\site-packages (from altair) (4.17.3)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from altair) (1.24.3)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from altair) (23.1)
Requirement already satisfied: pandas>=0.25 in d:\anaconda\lib\site-packages (from altair) (2.0.3)
Requirement already satisfied: toolz in d:\anaconda\lib\site-packages (from altair) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=0.25->altair) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas>=0.25->altair) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda\lib\site-packages (from jinja2->altair) (2.1.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)
Downloading altair-5.1.2-py3-none-any.whl (516 kB)
   ---------------------------------------- 0.0/516.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/516.2 kB ? eta -:--:--
    --------------------------------------- 10.2/516.2 kB ? eta -:--:--
   -- ------------------------------------ 30.7/516.2 kB 325.1 kB/s eta 0:00:02
   ---- ---------------------------------- 61.4/516.2 kB 409.6 kB/s eta 0:00:02
   ------ -------------------------------- 92.2/516.2 kB 521.8 kB/s eta 0:00:01
   ---------- --------------------------- 143.4/516.2 kB 607.9 kB/s eta 0:00:01
   ----------------- -------------------- 235.5/516.2 kB 846.9 kB/s eta 0:00:01
   ----------------------- -------------- 317.4/516.2 kB 981.5 kB/s eta 0:00:01
   ------------------------------ --------- 399.4/516.2 kB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 481.3/516.2 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 516.2/516.2 kB 1.1 MB/s eta 0:00:00
Installing collected packages: altair
Successfully installed altair-5.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import altair as alt

In [3]:
dbm = pd.read_csv('meteorite-landings.csv')

In [4]:
dbm.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [5]:
isuniques = pd.Series(dbm['id']).is_unique

In [6]:
print(isuniques)

True

In [7]:
idunique = dbm['id'].unique()
idunique

array([    1,     2,     6, ..., 30410, 31357, 30414], dtype=int64)

In [8]:
idcount = dbm['id'].value_counts()

In [9]:
idcount

id
1        1
56120    1
17820    1
55776    1
55777    1
        ..
46973    1
48289    1
50382    1
50383    1
30414    1
Name: count, Length: 45716, dtype: int64

In [10]:
idcounts.sort_values(ascending = True)

NameError: name 'idcounts' is not defined

In [11]:
fallunique = dbm['fall'].unique()
fallunique

array(['Fell', 'Found'], dtype=object)

In [12]:
yearunique = dbm['year'].unique()
yearunique

array([1880., 1951., 1952., 1976., 1902., 1919., 1949., 1814., 1930.,
       1920., 1974., 1925., 1769., 1838., 1959., 1981., 1957., 2001.,
       1806., 1766., 2002., 1835., 1873., 1860., 1900., 1883., 1899.,
       1969., 2008., 1977., 1895., 1898., 1939.,   nan, 1822., 1869.,
       1942., 1971., 1984., 1914., 1803., 1954., 1932., 1950., 1805.,
       2009., 1923., 1886., 1896., 1933., 1945., 1836., 1865., 1842.,
       1858., 1908., 1855., 1968., 1938., 1934., 1929., 1922., 1907.,
       1993., 1871., 1892., 1913., 1790., 1704., 1904., 1910., 1965.,
       2006., 1994., 2012., 1989., 1916., 1893., 1961., 1937., 1798.,
       2004., 1943., 1924., 1811., 1859., 1921., 1877., 1940., 1905.,
       1827., 1887., 1999., 1843., 1796., 1941., 1906., 1909., 1833.,
       1804., 1962., 1808., 1894., 1852., 1812., 1823., 2003., 2011.,
       1847., 1956., 1960., 1964., 2007., 1990., 1946., 1863., 1861.,
       1870., 1991., 1866., 1973., 1846., 1874., 1791., 1848., 1583.,
       1810., 1988., 1840., 1998., 1885., 1834., 1815., 1841., 2013.,
       1901., 1966., 1978., 1979., 1917., 1890., 1844., 1936., 1878.,
       1868., 1829., 1897., 1911., 1967., 1884., 1903., 1864., 1995.,
       1970., 1853., 1872., 1947., 1785., 1399., 1491., 1889., 1837.,
       1879., 1875., 1996., 1944., 1882., 1654., 1826., 2000., 1918.,
       1881., 1983., 1980., 1891., 1972., 1982., 1851., 1817., 1628.,
       1857., 1912., 1825., 1963., 1751., 2010., 1975., 1928., 1926.,
       1621., 1819., 1997., 1876., 1821., 1955., 1850., 1787., 1867.,
       1809., 1986., 1931., 1985., 1987., 1830., 1845., 1813., 1854.,
       1839., 1820., 1935., 1768., 1753., 1927., 1948., 1801., 1992.,
       1953., 1915., 1862., 1632., 1849., 1637., 1795.,  920., 1750.,
        860., 1662., 1741., 1958., 1519., 1671., 1856., 1775., 1779.,
       1723., 1740., 1824., 1828., 1490., 1636., 1688., 1715., 1773.,
       1818., 1794., 1647., 1623., 1807., 1668., 1495., 1831., 2005.,
       1888., 1784., 1575., 1793.,  301., 1749., 1781., 1600., 2101.,
       1797., 1716., 1724., 1776., 2501., 1832.,  601., 1792.])

In [13]:
nametypeunique = dbm['nametype'].unique()
nametypeunique

array(['Valid', 'Relict'], dtype=object)

In [14]:
nametypecount = dbm['nametype'].value_counts()
nametypecount

nametype
Valid     45641
Relict       75
Name: count, dtype: int64

In [15]:
fallcount = dbm['fall'].value_counts()
fallcount

fall
Found    44609
Fell      1107
Name: count, dtype: int64

In [16]:
wrongyears = dbm.loc[(dbm['year'] < 860) | (dbm['year'] > 2016)]
wrongyears.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           2
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

In [17]:
wrongloc = dbm.loc[(dbm['reclong'] > 180) | (dbm['reclong'] < -180) | (dbm['reclat'] == 0) & (dbm['reclong'] == 0)]
wrongloc

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
37,Northwest Africa 5815,50693,Valid,L5,256.80,Found,NaN,0.0,0.0,"(0.000000, 0.000000)"
596,Mason Gully,53653,Valid,H5,24.54,Fell,2010.0,0.0,0.0,"(0.000000, 0.000000)"
1648,Allan Hills 09004,52119,Valid,Howardite,221.70,Found,2009.0,0.0,0.0,"(0.000000, 0.000000)"
1649,Allan Hills 09005,55797,Valid,L5,122.30,Found,2009.0,0.0,0.0,"(0.000000, 0.000000)"
1650,Allan Hills 09006,55798,Valid,H5,104.30,Found,2009.0,0.0,0.0,"(0.000000, 0.000000)"
...,...,...,...,...,...,...,...,...,...,...
45655,Yamato 984144,40764,Valid,H6,37.44,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45656,Yamato 984145,40765,Valid,L6,54.80,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45657,Yamato 984146,40766,Valid,H3,19.32,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45658,Yamato 984147,40767,Valid,LL6,118.90,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45659,Yamato 984148,40768,Valid,L5,4.59,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"

In [18]:
dbm = dbm[(dbm['reclong']<= 180) & dbm['reclong']>=-180]
dbm = dbm[(dbm['reclat']!=0) | (dbm['reclong']!= 0)]

In [19]:
fallcount = dbmcleaned['fall'].value_counts()
fallcount

NameError: name 'dbmcleaned' is not defined

In [20]:
dbm = dbm.dropna(subset = ['reclat'])

In [21]:
fallcount = dbm['fall'].value_counts()
fallcount

fall
Found    31091
Fell      1096
Name: count, dtype: int64

In [22]:
dbm.isnull().sum()

name             0
id               0
nametype         0
recclass         0
mass           119
fall             0
year           147
reclat           0
reclong          0
GeoLocation      0
dtype: int64

In [27]:
dbm.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [23]:
chart1 = alt.Chart(dbm)

In [26]:
dbm.to_csv('teste.csv')

In [24]:
dbm = dbm.dropna(subset = ['mass'])

In [25]:
dbm = dbm.dropna(subset = ['year'])

In [29]:
dbm.loc[:,'year'] = pd.to_datetime(dbm.loc[:,'year']).dt.to_period('Y')

In [30]:
dbm.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1970,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1970,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1970,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1970,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1970,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [31]:
dbm.to_csv('teste.csv')

In [32]:
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [37]:
dbm.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           0
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64