In [4]:
pip install altair

Collecting altair
  Obtaining dependency information for altair from https://files.pythonhosted.org/packages/17/16/b12fca347ff9d062e3c44ad9641d2ec50364570a059f3078ada3a5119d7a/altair-5.1.2-py3-none-any.whl.metadata
  Downloading altair-5.1.2-py3-none-any.whl.metadata (8.6 kB)
Requirement already satisfied: jinja2 in d:\anaconda\lib\site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in d:\anaconda\lib\site-packages (from altair) (4.17.3)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from altair) (1.24.3)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from altair) (23.1)
Requirement already satisfied: pandas>=0.25 in d:\anaconda\lib\site-packages (from altair) (2.0.3)
Requirement already satisfied: toolz in d:\anaconda\lib\site-packages (from altair) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=0.25->altair) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas>=0.25->altair) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda\lib\site-packages (from jinja2->altair) (2.1.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)
Downloading altair-5.1.2-py3-none-any.whl (516 kB)
   ---------------------------------------- 0.0/516.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/516.2 kB ? eta -:--:--
    --------------------------------------- 10.2/516.2 kB ? eta -:--:--
   -- ------------------------------------ 30.7/516.2 kB 325.1 kB/s eta 0:00:02
   ---- ---------------------------------- 61.4/516.2 kB 409.6 kB/s eta 0:00:02
   ------ -------------------------------- 92.2/516.2 kB 521.8 kB/s eta 0:00:01
   ---------- --------------------------- 143.4/516.2 kB 607.9 kB/s eta 0:00:01
   ----------------- -------------------- 235.5/516.2 kB 846.9 kB/s eta 0:00:01
   ----------------------- -------------- 317.4/516.2 kB 981.5 kB/s eta 0:00:01
   ------------------------------ --------- 399.4/516.2 kB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 481.3/516.2 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 516.2/516.2 kB 1.1 MB/s eta 0:00:00
Installing collected packages: altair
Successfully installed altair-5.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [148]:
import pandas as pd
import altair as alt

In [149]:
dbm = pd.read_csv('meteorite-landings.csv')

In [150]:
dbm.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [112]:
isuniques = pd.Series(dbm['id']).is_unique

In [113]:
print(isuniques)

True

In [81]:
idunique = dbm['id'].unique()
idunique

array([    1,     2,     6, ..., 30410, 31357, 30414], dtype=int64)

In [82]:
idcount = dbm['id'].value_counts()

In [83]:
idcount

id
1        1
56120    1
17820    1
55776    1
55777    1
        ..
46973    1
48289    1
50382    1
50383    1
30414    1
Name: count, Length: 45716, dtype: int64

In [84]:
idcount.sort_values(ascending = True)

id
1        1
458      1
454      1
423      1
6        1
        ..
30406    1
31355    1
31356    1
40749    1
30414    1
Name: count, Length: 45716, dtype: int64

In [85]:
fallunique = dbm['fall'].unique()
fallunique

array(['Fell', 'Found'], dtype=object)

In [86]:
yearunique = dbm['year'].unique()
yearunique

array([1880., 1951., 1952., 1976., 1902., 1919., 1949., 1814., 1930.,
       1920., 1974., 1925., 1769., 1838., 1959., 1981., 1957., 2001.,
       1806., 1766., 2002., 1835., 1873., 1860., 1900., 1883., 1899.,
       1969., 2008., 1977., 1895., 1898., 1939.,   nan, 1822., 1869.,
       1942., 1971., 1984., 1914., 1803., 1954., 1932., 1950., 1805.,
       2009., 1923., 1886., 1896., 1933., 1945., 1836., 1865., 1842.,
       1858., 1908., 1855., 1968., 1938., 1934., 1929., 1922., 1907.,
       1993., 1871., 1892., 1913., 1790., 1704., 1904., 1910., 1965.,
       2006., 1994., 2012., 1989., 1916., 1893., 1961., 1937., 1798.,
       2004., 1943., 1924., 1811., 1859., 1921., 1877., 1940., 1905.,
       1827., 1887., 1999., 1843., 1796., 1941., 1906., 1909., 1833.,
       1804., 1962., 1808., 1894., 1852., 1812., 1823., 2003., 2011.,
       1847., 1956., 1960., 1964., 2007., 1990., 1946., 1863., 1861.,
       1870., 1991., 1866., 1973., 1846., 1874., 1791., 1848., 1583.,
       1810., 1988., 1840., 1998., 1885., 1834., 1815., 1841., 2013.,
       1901., 1966., 1978., 1979., 1917., 1890., 1844., 1936., 1878.,
       1868., 1829., 1897., 1911., 1967., 1884., 1903., 1864., 1995.,
       1970., 1853., 1872., 1947., 1785., 1399., 1491., 1889., 1837.,
       1879., 1875., 1996., 1944., 1882., 1654., 1826., 2000., 1918.,
       1881., 1983., 1980., 1891., 1972., 1982., 1851., 1817., 1628.,
       1857., 1912., 1825., 1963., 1751., 2010., 1975., 1928., 1926.,
       1621., 1819., 1997., 1876., 1821., 1955., 1850., 1787., 1867.,
       1809., 1986., 1931., 1985., 1987., 1830., 1845., 1813., 1854.,
       1839., 1820., 1935., 1768., 1753., 1927., 1948., 1801., 1992.,
       1953., 1915., 1862., 1632., 1849., 1637., 1795.,  920., 1750.,
        860., 1662., 1741., 1958., 1519., 1671., 1856., 1775., 1779.,
       1723., 1740., 1824., 1828., 1490., 1636., 1688., 1715., 1773.,
       1818., 1794., 1647., 1623., 1807., 1668., 1495., 1831., 2005.,
       1888., 1784., 1575., 1793.,  301., 1749., 1781., 1600., 2101.,
       1797., 1716., 1724., 1776., 2501., 1832.,  601., 1792.])

In [87]:
nametypeunique = dbm['nametype'].unique()
nametypeunique

array(['Valid', 'Relict'], dtype=object)

In [88]:
nametypecount = dbm['nametype'].value_counts()
nametypecount

nametype
Valid     45641
Relict       75
Name: count, dtype: int64

In [89]:
fallcount = dbm['fall'].value_counts()
fallcount

fall
Found    44609
Fell      1107
Name: count, dtype: int64

In [90]:
wrongyears = dbm.loc[(dbm['year'] < 860) | (dbm['year'] > 2016)]
wrongyears.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           2
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

In [91]:
wrongloc = dbm.loc[(dbm['reclong'] > 180) | (dbm['reclong'] < -180) | (dbm['reclat'] == 0) & (dbm['reclong'] == 0)]
wrongloc

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
37,Northwest Africa 5815,50693,Valid,L5,256.80,Found,NaN,0.0,0.0,"(0.000000, 0.000000)"
596,Mason Gully,53653,Valid,H5,24.54,Fell,2010.0,0.0,0.0,"(0.000000, 0.000000)"
1648,Allan Hills 09004,52119,Valid,Howardite,221.70,Found,2009.0,0.0,0.0,"(0.000000, 0.000000)"
1649,Allan Hills 09005,55797,Valid,L5,122.30,Found,2009.0,0.0,0.0,"(0.000000, 0.000000)"
1650,Allan Hills 09006,55798,Valid,H5,104.30,Found,2009.0,0.0,0.0,"(0.000000, 0.000000)"
...,...,...,...,...,...,...,...,...,...,...
45655,Yamato 984144,40764,Valid,H6,37.44,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45656,Yamato 984145,40765,Valid,L6,54.80,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45657,Yamato 984146,40766,Valid,H3,19.32,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45658,Yamato 984147,40767,Valid,LL6,118.90,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"
45659,Yamato 984148,40768,Valid,L5,4.59,Found,1998.0,0.0,0.0,"(0.000000, 0.000000)"

In [151]:
dbm = dbm[(dbm['reclong']<= 180) & dbm['reclong']>=-180]
dbm = dbm[(dbm['reclat']!=0) | (dbm['reclong']!= 0)]

In [152]:
dbm = dbm[(dbm['year'] >= 860) & (dbm['year'] <= 2016)]

In [158]:
dbm = dbm.fillna(0)

In [155]:
dbm = dbm.dropna(subset =['reclong'])

In [160]:
tamanho = dbm.shape[0]
tamanho

32037

In [157]:
nametypecount = dbm['nametype'].value_counts()
nametypecount

nametype
Valid     31968
Relict       69
Name: count, dtype: int64

In [159]:
dbm.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           0
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

In [161]:
dbm.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [101]:
dbm.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [103]:
dbm.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           0
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

In [162]:
dbm = dbm.astype({'year': int})

In [107]:
dbm.loc[:,'year'] = pd.to_datetime(dbm.loc[:,'year']).dt.to_period('Y')

In [169]:
meteortypec = dbm['recclass'].value_counts()
meteortypec.head(25)

recclass
L6               6529
H5               5590
H4               3324
H6               3231
L5               2725
LL5              1897
LL6               963
L4                799
H4/5              380
CM2               281
Iron, IIIAB       266
H3                244
LL                220
E3                205
L3                176
LL4               160
H5/6              156
Ureilite          155
Howardite         127
Diogenite         125
Eucrite-pmict     121
Iron, IIAB        108
CO3               108
H~5               102
CR2                99
Name: count, dtype: int64

In [172]:
masses = dbm['mass'].between(0.5, 2, inclusive='both')

In [174]:
masses =  dbm[(x <= dbm['mass']) & (dbm['columnX'] <= y)]

0    False
1    False
2    False
3    False
4    False
Name: mass, dtype: bool

In [198]:
lightmasses = dbm[dbm['mass'].between(0.00001, 5, inclusive = 'neither')]
lightmasses

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
180,Chail,5314,Valid,H6,0.5,Fell,1814,25.36667,81.66667,"(25.366670, 81.666670)"
231,Delhi,6642,Valid,L5,0.8,Fell,1897,28.56667,77.25000,"(28.566670, 77.250000)"
359,Hachi-oji,11468,Valid,H?,0.2,Fell,1817,35.65000,139.33333,"(35.650000, 139.333330)"
780,Perth,18797,Valid,LL5,2.0,Fell,1830,56.40000,-3.43333,"(56.400000, -3.433330)"
845,Revelstoke,22592,Valid,CI1,1.0,Fell,1965,51.33333,-118.95000,"(51.333330, -118.950000)"
...,...,...,...,...,...,...,...,...,...,...
43501,Yamato 9416,30339,Valid,OC,2.9,Found,1994,-71.54694,35.40194,"(-71.546940, 35.401940)"
45668,Yarle Lakes 004,52945,Valid,CK4,4.6,Found,2009,-30.50000,131.46667,"(-30.500000, 131.466670)"
45673,Yelland 001,54765,Valid,L6,4.5,Found,2011,39.55801,-114.42715,"(39.558010, -114.427150)"
45687,Yucca 015,57175,Valid,H-metal,3.0,Found,2011,34.81970,-114.27610,"(34.819700, -114.276100)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939,49.25000,17.66667,"(49.250000, 17.666670)"

In [193]:
mediummasses = dbm[dbm['mass'].between (4.99999, 50, inclusive = 'neither')]

In [194]:
mediummasses

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.00,Fell,1880,50.77500,6.08333,"(50.775000, 6.083330)"
48,Asco,2345,Valid,H6,41.00,Fell,1805,42.45000,9.03333,"(42.450000, 9.033330)"
73,Banswal,4937,Valid,L5,14.00,Fell,1913,30.40000,78.20000,"(30.400000, 78.200000)"
78,Barnaul,4947,Valid,H5,23.20,Fell,1904,52.73333,84.08333,"(52.733330, 84.083330)"
79,Barntrup,4948,Valid,LL4,17.00,Fell,1886,52.00000,9.10000,"(52.000000, 9.100000)"
...,...,...,...,...,...,...,...,...,...,...
43493,Yamato 9408,30331,Valid,H4,6.99,Found,1994,-71.54694,35.40194,"(-71.546940, 35.401940)"
45667,Yarle Lakes 003,30355,Valid,L6,14.00,Found,1993,-30.28000,131.35833,"(-30.280000, 131.358330)"
45688,Yucca 016,57158,Valid,H5,25.90,Found,2011,34.82658,-114.27763,"(34.826580, -114.277630)"
45699,Zapotitlán Salinas,30394,Valid,L4,27.70,Found,1984,18.33333,-97.50000,"(18.333330, -97.500000)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.00,Found,1999,13.78333,8.96667,"(13.783330, 8.966670)"

In [195]:
heavymasses = dbm[dbm['mass'].between (49.99999, 100, inclusive = 'neither')]

In [197]:
heavymasses

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
53,Atemajac,4884,Valid,L6,94.20,Fell,1896,20.06667,-103.66667,"(20.066670, -103.666670)"
126,Bloomington,5076,Valid,LL6,67.80,Fell,1938,40.48000,-89.00417,"(40.480000, -89.004170)"
128,Bocas,5093,Valid,L6,56.00,Fell,1804,23.00000,-102.00000,"(23.000000, -102.000000)"
173,Castine,5293,Valid,L6,94.00,Fell,1848,44.38333,-68.75000,"(44.383330, -68.750000)"
200,Chetrinahatti,5344,Valid,Stone-uncl,72.00,Fell,1880,14.50000,76.50000,"(14.500000, 76.500000)"
...,...,...,...,...,...,...,...,...,...,...
43473,Yamato 86772,30278,Valid,C,81.00,Found,1986,-71.50000,35.66667,"(-71.500000, 35.666670)"
43476,Yamato 86777,30283,Valid,L6,80.48,Found,1986,-71.50000,35.66667,"(-71.500000, 35.666670)"
43483,Yamato 86810,30316,Valid,Diogenite,55.44,Found,1986,-71.50000,35.66667,"(-71.500000, 35.666670)"
43764,Yamato 980459,30341,Valid,Martian (shergottite),82.46,Found,1998,-72.09802,35.24265,"(-72.098020, 35.242650)"
45704,Zerga,30402,Valid,LL6,76.00,Found,1973,20.25000,-12.68333,"(20.250000, -12.683330)"

In [199]:
veryheavymasses = dbm[dbm['mass'] >= 100]

In [200]:
veryheavymasses

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.166670, -64.950000)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919,32.10000,71.80000,"(32.100000, 71.800000)"
...,...,...,...,...,...,...,...,...,...,...
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,1981,31.20000,112.50000,"(31.200000, 112.500000)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,1990,29.03700,17.01850,"(29.037000, 17.018500)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990,29.03700,17.01850,"(29.037000, 17.018500)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976,33.98333,-115.68333,"(33.983330, -115.683330)"

In [224]:
bins = [-float('inf'), 0.0001, 5, 100, 500, float('inf')]
labels = ['NE', 'Light', 'Medium', 'Heavy', 'Very Heavy']

In [225]:
dbm['mass category'] = pd.cut(dbm['mass'], bins=bins, labels=labels, right=False)

In [226]:
dbm.head(300)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,mass category
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775000, 6.083330)",Medium
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.183330, 10.233330)",Very Heavy
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.216670, -113.000000)",Very Heavy
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.883330, -99.900000)",Very Heavy
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.166670, -64.950000)",Very Heavy
...,...,...,...,...,...,...,...,...,...,...,...
298,Fenghsien-Ku,10086,Valid,H5,82.0,Fell,1924,34.60000,116.75000,"(34.600000, 116.750000)",Medium
299,Ferguson,10088,Valid,OC,220.0,Fell,1889,36.10000,-81.41667,"(36.100000, -81.416670)",Heavy
300,Fermo,10091,Valid,H3-5,10200.0,Fell,1996,43.18111,13.75333,"(43.181110, 13.753330)",Very Heavy
301,Fisher,10107,Valid,L6,17600.0,Fell,1894,47.81667,-96.85000,"(47.816670, -96.850000)",Very Heavy
302,Florence,10111,Valid,H3,3640.0,Fell,1922,30.83333,-97.76667,"(30.833330, -97.766670)",Very Heavy

In [227]:
masscategorycount = dbm['mass category'].value_counts()
masscategorycount

mass category
Medium        14429
Light          6859
Heavy          5415
Very Heavy     5208
NE              126
Name: count, dtype: int64

In [228]:
dbm.to_csv('teste.csv')